<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preload" href="prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="prism.css">
    <link rel="stylesheet" href="index.css">
  </noscript>
  
  <title>{{ title }}</title>
</head>

<body>
  {% macro example(code) %}
  <article class="example">
    <section class="example__result"></section>
    <pre class="example__code"><code class="language-javascript">{{ code | escape }}</code></pre>
  </article>
  {% endmacro %}

  {% macro highlight(lang, code) %}
    <pre><code class="language-{{lang}}">{{ code | escape }}</code></pre>
  {% endmacro %}

  {% macro js(code) %}{{ highlight('js', code) }}{% endmacro %}
  {% macro ts(code) %}{{ highlight('typescript', code) }}{% endmacro %}
  {% macro html(code) %}{{ highlight('html', code) }}{% endmacro %}
  {% macro svg(code) %}{{ highlight('svg', code) }}{% endmacro %}
  {% macro text(code) %}{{ highlight('none', code) }}{% endmacro %}

  {% macro heading(type, title) %}
    <div class="heading {{ type }}">
      <a class="permalink" href="#{{title | joinStr}}">#</a>
      <{{type}} id="{{title | joinStr}}">{{ title }}</{{type}}>
    </div>
  {% endmacro %}

  {% macro navLink(link, text, currentPage) %}
    {% if link == currentPage %}
      <li>{{ text }}</li>
    {% else %}
      <li><a href="{{ link }}">{{ text }}</a></li>
    {% endif %}
  {% endmacro %}

  {% macro nav(currentPage) %}
    <nav>
      <ul>
        {{ navLink('index.html', 'Home', currentPage) }}
        {{ navLink('documentation.html', 'Documentation', currentPage) }}
        {{ navLink('https://github.com/Asha20/ring-menu', 'Repository', currentPage) }}
      </ul>
    </nav>
  {% endmacro %}


  
  {% block page %}{% endblock %}

  <script defer src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.19.0,npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js"></script>
  <script defer src="ring-menu.js" onload="window.onRMLoad && window.onRMLoad()"></script>
  <script defer src="index.js"></script>
  {% block scripts %}{% endblock %}
</body>

</html>