<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ description }}">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preload" href="prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="index.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="prism.css">
    <link rel="stylesheet" href="index.css">
  </noscript>
  
  <title>{{ title }}</title>
</head>

<body>
  {% macro example(code) %}
  <article class="example">
    <pre class="example__code"><code class="language-javascript">{{ code }}</code></pre>
    <section class="example__result"></section>
  </article>
  {% endmacro %}

  {% macro heading(type, title) %}
    <{{type}} id="{{title | joinStr}}">
      <a class="permalink" href="#{{title | joinStr}}">#</a> {{ title }}
    </{{type}}>
  {% endmacro %}

  {% macro navLink(link, text, currentPage) %}
    {% if link == currentPage %}
      <li>{{ text }}</li>
    {% else %}
      <li><a href="{{ link }}">{{ text }}</a></li>
    {% endif %}
  {% endmacro %}

  {% macro nav(currentPage) %}
    <nav>
      <ul>
        {{ navLink('anatomy.html', 'Anatomy', currentPage) }}
        {{ navLink('angles-and-offsets.html', 'Angles and offsets', currentPage) }}
        {{ navLink('dynamic-values.html', 'Dynamic values', currentPage) }}
        {{ navLink('interactivity.html', 'Interactivity', currentPage) }}
      </ul>
    </nav>
  {% endmacro %}


  
  {{ nav(page) }}

  <main>
    {% block page %}{% endblock %}
  </main>

  {{ nav(page) }}

  <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.18.0/prism.min.js"></script>
  <script defer src="ring-menu.js"></script>
  <script defer src="index.js"></script>
</body>

</html>